black==21.12b0
click==8.0.3
greenlet==1.1.2
importlib-metadata==4.10.0
msgpack==1.0.3
playwright==1.17.2
pre-commit==2.16.0
pyee==8.2.2
typer==0.4.0
typing_extensions==4.0.1
websockets==10.1
zipp==3.6.0
